.container_shop{
  background-color: #fff;
  height: calc(100vh);
  .allprice{
    float: right;
    margin-right: 10px;
    span{
      margin-left: 5px;
      color: rgba(248,0,0,.8);
    }
  }
  .shop_cart{
    margin-top: 15px;
    display: inline-block;
    img{
      width: 32px;
    }
  }
}