.container_home {
  position: relative;
  background: #f0f2f5;
  .home_top{
    margin: 0;
  }

  .ground-container {
  }
  .ant-carousel .slick-slide {
    height: calc(35vh) !important;

  }
  .ant-carousel .slick-slide img {
    width: 100%;
    height: calc(35vh) !important;

  }
  .ant-card-bordered{
    margin-top: 20px;
  }
  .ant-card-head-title{
    text-align: center;
  }

}