.container_home {
  position: relative;
  background: #f0f2f5;
  .home_top{
    margin: 0;
  }

  .ground-container {
  }
  .ant-carousel .slick-slide {
    height: calc(35vh) !important;

  }
  .ant-carousel .slick-slide img {
    width: 100%;
    height: calc(35vh) !important;

  }
  .ant-card-bordered{
   margin: 20px 0;
  }
  .ant-card-head-title{
    text-align: center;
  }


}

//所有
.all_bands{
  min-height: 904px;
  //search
  .ant-input-search{
    display: inline-block;
    width: 96%;
    margin-right: 10px;
    margin-left: 20px ;
  }
  .ant-input-affix-wrapper .ant-input:not(:last-child){
    border-radius: 20px;
  }
  .ant-btn{
    background-color: rgba(247, 107, 28, 0.9);
  }
  //sort
  .sort_shop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    h3{
      height: 50px;
      margin: 30px;
      line-height: 50px;
    }
  }

}
//商品
.selected_bands{
  background-color: #fff;
  padding: 35px 0 50px 0 ;
  margin-top: 20px;
  text-align: center;
  h2{
    text-align: center;
  }
  .ant-card-bordered{
    display: inline-block;
    margin: 20px 10px;
    height: 310px;
  }
  .ant-card-cover img {
    height: 200px;
    border-bottom: 3px #eee solid;
  }
  .shop_des{
    .ant-card-meta{
      margin-top: -10px 0  0 0 ;
    }
    .ant-card-meta-title{
      color: rgba(255,0,0,.7);
      letter-spacing: -1px ;
      span{
        font-size: 15px;

        s{
          color: rgba(0,0,0,0.22);
          font-size: 9px;
          margin-left: 5px;
        }
      }
    }
    .ant-card-meta-description{
      color: rgba(0,0,0,.7);
    }

    text-align: left;
  }
}