.container_home {
  width: 100%;
  position: relative;
  background: #f0f2f5;
  .ground-container {
  }
  .ant-carousel .slick-slide {
    height: calc(30vh) !important;

  }
  .ant-carousel .slick-slide img {
    width: 100%;
    height: calc(30vh) !important;

  }
  .ant-card-bordered{
    margin-top: 20px;
  }
  .ant-card-head-title{
    text-align: center;
  }
  //商品精选
  .selected_bands{
    background-color: #fff;
    padding: 35px 0 50px 0 ;
    margin-top: 20px;
    text-align: center;
    h2{
      text-align: center;
    }
    .ant-card-bordered{
      display: inline-block;
      margin: 20px 10px;
      height: 310px;
    }
    .ant-card-cover img {
      height: 200px;
      border-bottom: 3px #eee solid;
    }
    .shop_des{
      .ant-card-meta{
        margin-top: -10px 0  0 0 ;
      }
      .ant-card-meta-title{
        color: rgba(255,0,0,.7);
        letter-spacing: -1px ;
        span{
          font-size: 15px;
          s{
            color: rgba(0,0,0,0.22);
            font-size: 9px;
            margin-left: 5px;
          }
        }
      }
      .ant-card-meta-description{
        color: rgba(0,0,0,.7);
      }

      text-align: left;
    }
  }

}