.container_search {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #f0f2f5;
  .ground-container {

    .ant-select{
      width: 100%;
     margin-bottom: 10px;
    }
    .ant-select-selection--multiple .ant-select-selection__rendered{
      height: 35px;
    }
    .ant-card-grid{
      width: 23%;
      margin: 1%;
    }
    .select_choice{
      width: 100px !important;
      display: inline-block !important;
      li{

       }
    }

  }


}