

.modal_pay,.modal_cancel,.modal_invoice{
  .order_content{
    display: flex;
    align-items:center;
    justify-content:center;
    h6{
      font-size: 15px;
    }
    .pictures{
      img{
        height: 100px;
        width: 100px;
      }
    }
    .name_spe{
      flex: 1;
    }
    .price_number{
      h6{
        span{
          font-size: 18px;
          color: red;
        }
      }
    }
  }
}
.modal_invoice {

}

//退款
.refund_information{
  border-bottom: none !important;
}