.nav-menu{
  min-width: 180px;
  background-color:rgba(247,107,28,.9);

  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    padding-left: 20px;
    img{
      height: 35px;
    }
    h1{
      color: #ffffff;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 10px;
      letter-spacing: 1px;
    }
    .ant-menu-submenu-title {
      line-height: 50px;
      height: 50px;
    }
  }
  .navNenu {}
  //menulist
  .menuList{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    .ant-menu-dark{
      background-color:rgba(247,107,28,.9);
      line-height: 60px;
    }
    //.ant-menu-item:hover,.ant-menu-dark:hover{
    //  background-color: #fff;
    //}
    //.ant-menu-submenu:hover{
    //  color: red;
    //}
    //选中背景
    //.ant-menu-item-active {
    //  background-color: #fff;
    //}
  }
}
.ant-menu-item-selected{
  color: red;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
  background:rgba(255,0,0,.6);
}
.ant-menu-dark .ant-menu-sub{
  background-color:rgba(247,107,28,.9);
}
.userName{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  line-height: 60px;
  color: rgba(255,255,255,.65);
  .user-avatar{
    margin-right: 10px;
  }
}