
.container_shop_cart{
  background-color: #fff;
  padding: 30px 30px  0 30px;
  //table金额 加红
  .ant-table-tbody td:nth-child(4){
    color: red;
    font-size: 16px;
  }
  .ant-table-tbody td:nth-child(6){
    color: red;
    font-size: 16px;
  }
}
.allprice{
  float: right;
  margin-right: 10px;
  font-weight: bold;
  span{
    margin-left: 5px;
    color: rgba(248,0,0,.8);
    font-size: 18px;
    font-weight: normal;
  }


}