
.container_shop_cart{
  background-color: #fff;

  //table金额 加红
  .ant-table-tbody td:nth-child(5){
    color: red;
    font-size: 16px;
  }
  .ant-table-tbody td:nth-child(7){
    color: red;
    font-size: 16px;
  }
  //img
  .ant-avatar-image{
    height: 60px;
    width: 60px;
  }
}
.allprice{
  float: right;
  margin-right: 10px;
  font-weight: bold;
  span{
    margin-left: 5px;
    color: rgba(248,0,0,.8);
    font-size: 18px;
    font-weight: normal;
  }


}