@import './default.less';
@import './loading.less';
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em,  ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  font-family:"Microsoft YaHei";
}

//ul,li{
//  list-style: none;
//}
.clearfix{
  &::after{
    content:' ';
    clear:both;
    display: block;
    visibility: hidden;
  }
}
.container{
  min-height: 100vh;
  background-color:#eee;
  .header_content {
    display: flex;
    justify-content:center;
  }
  .content{
    display: flex;
    justify-content: center;
  }
}

.content-wrap{
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-top: -3px;
  .ant-table-wrapper{
    margin-left: -1px;
    margin-right: -2px;
  }
}
.ant-card{
  button{
    margin-right: 10px;
  }
}

//children的容器
.container_width{
  min-width: 1000px;
  width: 1280px;
  margin-top: 20px;
  background-color: #fff;
  padding: 0 0  30px 0;
  //分页
  .ant-pagination{
    text-align: center;
    margin-top: 20px;
  }
  .type_button{
    padding: 0 20px 20px 20px ;
  }
  .container_top{
    padding: 20px 0 0 0;
    margin-bottom: 20px;
    background:linear-gradient(265deg,rgba(250,97,173,.8) 0%,rgba(247,107,28,1) 80%);
    h2{
      color: #ddd;
      letter-spacing: 1px;
      text-align: center;
      padding: 5px 0  10px 0 ;
      margin-left: 10px;
      display: inline-block;
      font-size: 16px;
    }
  }
}

//下拉菜单
.ant-dropdown-menu{
  background:linear-gradient(265deg,rgba(250,97,173,.8) 0%,rgba(247,107,28,1) 80%);
  top: 21px;
  width: 139px;
  li{
    color: #ddd;
    span{
      color: #ddd;
      margin-left: 6px;
    }
    i{
      color: #ddd;
    }
  }
  li:hover{
    background-color: red;
  }
}

//qq客服
.customer_service{
  position: fixed;
  bottom: 0;
  right: 6px ;
  img{
    height: 110px;
  }
}

//margin 封装
  //上
.mt20{
  margin-top: 20px;
}
.mt30{
  margin-top: 30px;
}