@import './../../style/default.less';
.header{
  background-color: @colorM;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  .header-top{
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    .header-top-nav{
      text-align: right;
      cursor: pointer;
      .header-avatar{
        margin: 0 10px 0 0;
      }
      span{
        font-weight: bold;
      }
    }
    h3{
      letter-spacing: 1px;
      min-width: 140px;
      span{
        margin-left: 10px;
        color:#999999;
        font-size: 13px;
      }
    }
  }
  .breadcrumb{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    //border-top: 1px solid @colorS;
    .breadcrumb-title{
      text-align: center;
      font-size: @fontC;
      &:after{
        position: absolute;
        content: '';
        left:73px;
        top:39px;
        border-top: 9px solid @colorM;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
      }
    }
    .weather{
      text-align: right;
      font-size: 14px;
      .date{
        margin-right: 10px;
        vertical-align: middle;
      }
      .weather-img{
        img{
          height: 15px;
        }
      }
      .weather-detail{
        margin-left: 5px;
        vertical-align: middle;
      }
    }
  }
}
.simple-page{
  .header-top{
    background:#1890ff;
    color:@colorM;
  }
}
//下拉菜单
.ant-dropdown-menu{
  top: 21px;
  width: 139px;
  li{
    span{
      margin-left: 6px;
    }
  }
}