body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



//登录注册样式
.container_login {
  width: 500px;
  .content{
    background-color:rgba(0,0,0,.7);
    position: absolute !important;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    .ant-checkbox-wrapper + span, .ant-checkbox + span {
      color: #fff;
    }
    a{
      color: #fff;
    }
  }
}
//封装宽度 width
.width_100{
  width: 100px;
}

//高度封装
.height_36{
  height: 36px !important;
}

//封装左边距 margin-left
.ml_10{
  margin-left: 10px;
}
.ml_9{
  margin-left: 9px;
}