.modal_shop{
  img{
    width: 100px;
    height: 100px;
  }
  .form_shop{
    margin-top: 20px;
  }
  .img_dec{
    span{
      margin-left: 20px;
      color: red;
      font-size: 18px;
    }
  }
}
.modal_cart{
  .pce{
    display: flex;
    justify-content: flex-end;
    letter-spacing: 1px;
    font-size: 14px;
    span{
      font-size: 18px;
      color: red;
      margin-left: 10px;
    }
  }
  .content{

    .unit{
      h6{
        letter-spacing: 1px;
        span:nth-child(1){
          color: red;
          font-size: 18px;
        }
        span{
          font-size: 14px;
        }
      }
    }
    .spe,.cor,.num{
      font-size: 15px;
      letter-spacing: 2px;
    }
  }
  .ant-list-item{

  }
  .ant-list-item-meta{
    display: block;
    text-align: center;
    span{
      width: 100px;
      height: 100px;
    }
  }
  .ant-list-item-content{
      justify-content: center;
    .ant-list-item-meta-title{}
    margin-top: 10px;
  }

}